// Base colors
$color-black: #000;
$color-black-light: #383838;
$color-white: white;

// Project colors
$color-blue: #d2f1f5;
$color-brown: #754e4e;
$color-orange: #c96b49;

$color-primary: $color-orange;
$color-primary-lighter: lighten($color-orange, 35);
$color-secondary: $color-brown;
