// Constrain list
$constrain-xl: 80rem;
$constrain-l: 65rem;
$constrain-m: 50rem;
$constrain-s: 43rem;

// Spacing list
$spacing-xxl: 6rem;
$spacing-xl: 2.3rem;
$spacing-l: 1.5rem;
$spacing-m: 1rem;
$spacing-s: 0.5rem;
$spacing-xs: 0.3rem;
$spacing-xxs: 0.12rem;

// Spacing meaning
$avoid-touching-the-browser-edge: $spacing-m;

// Constraints: Horizontal boundaries
.constrain--total-page {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 $avoid-touching-the-browser-edge;
}
.constrain-max {
  max-width: $constrain-l;
  margin: 0 auto;
  padding: 0 $avoid-touching-the-browser-edge;
}
.constrain-inner {
  max-width: $constrain-m;
}
.constrain-text {
  max-width: $constrain-s;
  margin: 0 auto;
  padding: 0 $avoid-touching-the-browser-edge;
}

// Items: Spacing between items
.page-item {
  margin-top: $spacing-xxl;
  margin-bottom: $spacing-xxl;

  &__bottom {
    margin-bottom: $spacing-xxl;
  }
}
.section-item {
  margin-top: $spacing-l;
  margin-bottom: $spacing-l;
}
.text-item {
  margin-top: $spacing-m;
  margin-bottom: $spacing-m;
}

.two-one {
  @media (min-width: $breakpoint-m) {
    display: flex;

    &__left {
      width: 100%;
      margin: 0 $spacing-l 0 0;
    }
    &__right {
      width: 30rem;
      margin: 0 0 $spacing-l;
    }
  }
}

article {
  max-width: $constrain-s;
}

.colored-square {
  padding-top: $spacing-l;
  padding-bottom: $spacing-l;
  background-color: $color-primary;
}

// @include outline;
