@font-face {
  font-family: 'Titillium';
  src: url('/static/fonts/titilliumweb-bold-webfont.woff2') format('woff2'),
    url('titilliumweb-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium';
  src: url('/static/fonts/titilliumweb-italic-webfont.woff2') format('woff2'),
    url('titilliumweb-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium';
  src: url('/static/fonts/titilliumweb-regular-webfont.woff2') format('woff2'),
    url('titilliumweb-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 1.125rem;

$font-size-l: 1.25rem;
$font-size-m: $base-font-size;
$font-size-s: 0.8rem;

$heading-xl: 3.052rem;
$heading-l: 2.441rem;
$heading-m: 1.953rem;
$heading-s: 1.563rem;

body {
  font-family: 'Titillium', sans-serif;
  font-size: $base-font-size;
}

h1,
.h1 {
  font-size: $heading-xl;
}
h2,
.h2 {
  font-size: $heading-l;
  margin-top: 0;
}
h3,
.h3 {
  font-size: $heading-m;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: $heading-s;
}
