.img-square {
  position: relative;
  width: 100vw;
  height: 100vmin;

  &__title-wrapper {
    position: absolute;
    width: 100%;

    // Make a larger contain than the image to push the title below the img on scroll
    height: 100vh;
    top: 10vh;
  }
  &__title {
    position: sticky;
    top: 0rem;
    max-width: 20rem;
    margin: 0 $spacing-m;

    @media (min-width: $breakpoint-s) {
      left: 5vw;
      margin: 0;
    }
  }

  &__img {
    position: absolute;
    top: 3vh;
    left: 0;
    // Use vmin to always create a square
    width: 94vmin;
    height: 94vmin;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;
  }
}
