@import '../../../styles/base.scss';

.page-header {
  // @include block(large);
  margin-bottom: 3vmin;
}

.image {
  pointer-events: none;
  // Use vmin to always create a square
  width: 75vw;
  height: 94vmin;
  margin-top: 3vmin;
  margin-right: 3vmin;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp-min(medium) {
    margin-right: 12vmin;
  }
}

.title {
  @include heading-huge;
  margin: -(gap(small)) auto 0 auto;
  color: $orange;
  text-align: center;
  text-shadow: 0 0 1px rgba($white, 0.5);

  @include bp-min(small) {
    margin: -(gap(medium)) auto gap(huge) auto;
  }

  @include bp-min(medium) {
    position: absolute;
    right: 5vw;
    bottom: 20vh;
    max-width: 25rem;
    margin: 0 gap(large) 0 auto;
    text-align: right;
  }
}
