<section class="spotify-embed">
  <h2 class="spotify-embed__title">{{ title }}</h2>

  <div class="spotify-embed__player">
    <iframe src="{{ src }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</section>
