<div class="music-player" data-trigger="trigger">
  <h2 class="music-player__title">{{ title }}</h2>

  <div class="music-player__player">
    <ol class="music-player__list">
      {% for song in songs %}
        <li class="music-player__item">
          <span class="music-player__text">{{ song.title }}</span>

          <div class="music-player__streams">
            {% if song.spotifyUrl %}
              <a class="music-player__stream" href="{{ song.spotifyUrl }}">
                {%- component 'social/spotify' -%}
              </a>
            {% endif %}
            {% if song.appleMusicUrl %}
              <a class="music-player__stream" href="{{ song.appleMusicUrl }}">
                {%- component 'social/apple-music' -%}
              </a>
            {% endif %}
            {% if song.deezerUrl %}
              <a class="music-player__stream" href="{{ song.deezerUrl }}">
                {%- component 'social/deezer' -%}
              </a>
            {% endif %}
          </div>

        </li>
      {% endfor %}
    </ol>
  </div>
</div>
