{% extends '../layout/default.njk' %}

{% block body %}
  <main>
    {%- component 'flyer', flyer -%}

    <div class="page-item">
      <div class="constrain-m">
        {%- component 'entry', zonderdagen -%}
      </div>

      <div class="section-item">
        {%- component 'clip' -%}
      </div>

      <div class="constrain-max">
        {%- component 'entry', album -%}
      </div>
    </div>

    <div class="page-item">
      {%- component 'music-player' -%}
    </div>

    <div class="page-item">
      <div class="constrain-max">
        {%- component 'entry', band -%}
      </div>
    </div>

    <div class="area-colored">
      <div class="section-item">
        {%- component 'contact' -%}
      </div>
    </div>
  </main>
{% endblock %}
