{% extends '../layout/default.njk' %}

{% block body %}
  <main>
    {%- component 'flyer' -%}

    <div class="page-item">
      <div class="constrain-m">
        {%- component 'entry' -%}
      </div>

      <div class="section-item">
        {%- component 'clip' -%}
      </div>

      <div class="constrain-max">
        {%- component 'entry', { type: "horizontal", "title": 'Het album' } -%}
      </div>
    </div>

    <section class="page-item">
      {%- component 'spotify-embed' -%}
    </section>
  </main>
{% endblock %}
