.definition-list {
  column-gap: $spacing-l;
  column-width: 20rem;

  &__item {
    page-break-inside: avoid;
    break-inside: avoid-column;
    margin: $spacing-l 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__label {
    margin: 0;
    padding: 0;

    font-family: $font-family-secondary;
    font-size: $heading-m;
  }

  &__value {
    margin: 0;
    padding: 0;
  }
}
