<dl class="definition-list">
  {% for item in listItems %}
    <div class="definition-list__item">
      <dt class="definition-list__label">{{ item.label }}</dt>
      <dd class="definition-list__value">{{ item.value }}</dd>
    </div>
  {% endfor %}
</dl>
