@import '../../../styles/base.scss';

.header-promo {
  display: flex;
  flex-direction: column;
  min-height: 100vmin;

  @media (min-width: 1280px) {
    flex-direction: row;
  }
}

.header-promo__img {
  pointer-events: none;
  // Use vmin to always create a square
  flex-shrink: 0;
  width: 100vmin;
  height: 94vmin;
  margin-top: 3vmin;
  margin-right: 3vmin;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp-min(medium) {
    // margin-right: 12vmin;
  }
  @media (min-width: 1500px) {
    margin-right: 12vmin;
  }
}

/**
 * Content
 */
.header-promo__content {
  align-self: center;
  max-width: 35rem;
  margin: gap(large) auto;
  padding: 0 1rem;

  @include bp-min(small) {
    margin: gap(large) auto;
  }
  @media (min-width: 1280px) {
    // margin: gap(large) gap(large) gap(large) 0;
    margin: auto 0 gap(large);
    // padding-top: 20rem;
  }
}

.header-promo__content-title {
  margin: 0 0 gap(medium);
  color: $color-primary;
}
.header-promo__text {
  max-width: 25rem;
}
