@import '../../../styles/base.scss';

.header-promo {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vmin;
  // background-color: $orange;
}

.header-promo__title-wrapper {
  position: absolute;
  top: 2vh;
  left: 1rem;
  // Make a larger contain than the image to push the title below the img on scroll
  height: 100vh;

  @include bp-min(small) {
    top: 5vh;
    left: 2rem;
  }
  @include bp-min(medium) {
    top: 8vh;
    left: 4rem;
  }
}
.header-promo__title {
  // position: sticky;
  top: 1rem;
  max-width: 15rem;
  margin: 0 gap(medium);

  @include bp-min(small) {
    left: 5vw;
    width: auto;
    max-width: 20rem;
    margin: 0;
  }
}
.header-promo__title svg {
  width: 100%;
  height: auto;
}
.header-promo__title svg > g:first-of-type {
  color: $black;
}
.header-promo__title svg > g:last-of-type {
  color: $brown;
}

.header-promo__img {
  pointer-events: none;
  // Use vmin to always create a square
  width: 100vmin;
  height: 94vmin;
  margin-top: 3vmin;
  margin-right: 3vmin;

  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @include bp-min(medium) {
    margin-right: 12vmin;
  }
}

/**
 * Content
 */

.header-promo__content {
  align-self: center;
  max-width: 25rem;
  margin: gap(large) auto;

  @include bp-min(small) {
    margin: gap(large) auto;
  }
  @media (min-width: 1365px) {
    margin: gap(large) gap(large) gap(large) 0;
    padding-top: 20rem;
  }
}

.header-promo__content-title {
  margin: 0 0 gap(medium);
  color: $color-primary;
}

// .poem {
//   @include text-small;
//   position: absolute;
//   top: 50vh;
//   right: 0.3rem;
//   font-family: $serif;
//   text-align: right;
// }
