<div class="social">
  <a class="social__link" href="{{ item.facebookHref }}">
    {%- component "social/facebook" -%}
  </a>
  <a class="social__link" href="{{ item.instagramHref }}">
    {%- component "social/instagram" -%}
  </a>
  <a class="social__link" href="{{ item.spotifyHref }}">
    {%- component "social/spotify" -%}
  </a>
  <a class="social__link" href="{{ item.youTubeHref }}">
    {%- component "social/you-tube" -%}
  </a>
</div>
