<header class="flyer">
  <div class="flyer__title-wrapper">
    <div class="flyer__title">
      {%- component 'brand-title' -%}
    </div>
  </div>

  <p class="flyer__subject">{{ subject }}</p>

  <div class="flyer__img" style="background-image: url({{ src }})"></div>
</header>
