<section class="contact">
  <div class="contact__inner">
    <h2>Contact</h2>

    <p>Voor het boeken van Wies en de Liefde met bus, een huiskamerconcert of een optreden van Wies en de Liefde (zonder bus) kun je contact opnemen met ons via
      <a href="">boekingen@wiesendeliefde.nl</a>
    </p>

    <p>Voor algemene vragen, of als het de bezigheden van individuele bandleden aangaat, kan je mailen naar:
      <a href="">info@wiesendelie\fde.nl</a>
    </p>

    <div>
      <strong>KvK nummer:</strong>
      <span>65984552</span>
    </div>

    <div>
      <strong>RSIN:</strong>
      <span>856344205</span>
    </div>
  </div>
</section>
