<section class="contact">
  <div class="constrain-s">
    <h2>{{ title }}</h2>

    {% for text in texts %}
      <p>{{ text | safe}}</p>
    {% endfor %}

    <div class="content-item">
      <h3>{{ administrationTitle }}</h3>
      <dl>
        {% for administrationDetail in administrationDetails %}
          <div class="contact__administration-item">
            <dt class="contact__administration-label">{{ administrationDetail.label }}:</dt>
            <dd class="contact__administration-value">{{ administrationDetail.value }}</dd>
          </div>
        {% endfor %}
      </dl>
    </div>
  </div>
</section>
