<section class="entry-horizontal">
  <h3 class="entry-horizontal__title">{{ title }}</h3>

  <div class="entry-horizontal__text-wrapper">
    {%- for text in texts -%}
      <p class="entry-horizontal__text">
        {{ text | safe}}
      </p>
    {%- endfor -%}
  </div>
</section>
