@font-face {
  font-family: 'Trixie';
  src: url('/fonts/trixie-text-webfont.woff2') format('woff2'),
    url('/fonts/trixie-text-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gothambook-webfont.woff2') format('woff2'),
    url('/fonts/gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('/fonts/gothambold-webfont.woff2') format('woff2'),
    url('/fonts/gothambold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
