.header-promo {
  min-height: 100vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &__content {
    align-self: center;
    margin: $spacing-xxl 0 0;

    @media (min-width: $breakpoint-s) {
      margin: $spacing-xxl $spacing-xxl 0 $spacing-xl;
    }
  }

  &__title-wrapper {
    position: absolute;
    // Make a larger contain than the image to push the title below the img on scroll
    height: 100vh;
    top: 8vh;
    left: 4rem;
  }
  &__title {
    position: sticky;
    top: 0rem;
    max-width: 20rem;
    margin: 0 $spacing-m;

    @media (min-width: $breakpoint-s) {
      left: 5vw;
      margin: 0;
    }
  }

  &__img {
    // Use vmin to always create a square
    margin-top: 3vmin;
    width: 94vmin;
    height: 94vmin;
    margin-right: auto;

    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -1;
  }
}
