@import '../../../styles/base.scss';

.gallery {
  @include bare-list;
  @include constrain(huge);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: gap(medium);
  align-items: end;
  margin: 0 auto;

  @include bp-min(small) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
  @include bp-min(medium) {
    grid-gap: gap(large);
  }
}

.figure {
  margin: 0;
  padding: 0;
}

.caption {
  @include text-small;
  padding-top: gap(tiny);
  padding-left: gap(small);
}

.embed-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 57%;
}
.embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
